* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background: linear-gradient(orange, blue);
}